.user-table-wrapper {
    width: 100%;
  
  }
  
  .search-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .search-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-left: 0.5rem;
  }
  
  .add-button {
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 200px; /* added */
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .user-table th {
    background-color: #009688; /* added */
    color: #fff;
    text-align: left;
    padding: 0.5rem;
  }
  
  .user-table th:first-child {
    border-top-left-radius: 4px;
  }
  
  .user-table th:last-child {
    border-top-right-radius: 4px;
  }
  
  .user-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
  }
  
  .user-table td.active {
    color: #1dbd2d; /* added */
  }
  
  .user-table td.non-active {
    color: #f4182e; /* added */
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: rgb(183, 211, 211); /* added */
  }
  
  .action {
    display: flex;
    gap: 0.5rem;
  }
  
  .edit-icon {
    cursor: pointer;
    color: #02413a;
  }
  .delete-icon {
    cursor: pointer;
    color: #a10101;
  }
  .download-button {
    background-color: #820cc2;
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 10px;
    float: right;
    border: none;
  }
  
  .download-button:hover {
    background-color: #b83fd9;
    cursor: pointer;
  }
  
  