.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10%;
    width: 200px;
    height: 100vh;
    background-color: teal;
    padding: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-heading {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: aliceblue;
  }
  